<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Badenhop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Name - Web Developer</title>
</head>

   
   

    <style>
        .navbar-collapse {
            justify-content: flex-end;
            color: #fff;
        }

        .navbar-nav {
            background-color: transparent;
        }

            .navbar-nav .nav-item1 {
                margin-right: 120px;
                margin-left: 5px;
            }

            .navbar-nav .nav-link {
                color: #000000;
                !important;
            }

        .navbar-brand,
        .navbar-brand:hover {
            color: #000000;
            !important;
            margin-left: 0px;
        }

        body {
            background-image: url('images/qw5.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
        }

        footer {
            background-color: transparent;
            color: #fff;
            padding: 0px;
            position: fixed;
            bottom: 0%;
            width: 100%;
        }

        .caption {
            position: absolute;
            top: 24%;
            transform: translate(0, -50%);
            text-align: left;
            letter-spacing: 2px;
            margin-left: 10%;
        }

        .greeting {
            font-size: 30px;
            margin-bottom: 0px;
            font-weight: 1000;
            text-transform: uppercase;
            color: #000000;
        }

        .name {
            font-size: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            font-weight: 800;
            color: #000000;
        }

        .title {
            font-size: 15px;
            margin-bottom: 0px;
            font-weight: 600;
            text-transform: uppercase;
            color: #000000;
        }

        .Description {
            font-size: 12px;
            margin-bottom: 0px;
            font-weight: 200;
            color: #000000;
            width: 600px;
            margin-top: 20px;
        }

        .photosSection {
            background-image: url('images/123.jpg');
            padding: 20px;
            height: 700px;
            margin-top: 20%;
            color: #fff;
            font-weight: 1000;
            text-transform: uppercase;
            justify-content: center;
        }

            .photosSection h2 {
                margin-top: 40px;
                font-weight: 800; /* Adjust the font-weight as needed */
                margin-left: 10px;
            }

        .photo-gallery {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
        }

        .gallery-item {
            max-width: 200px;
            margin: 10px;
            border-radius: 5px;
            transition: transform 0.3s ease-in-out;
        }

            .gallery-item:hover {
                transform: scale(1.5);
                border: 2px solid #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
            }
    </style>

    

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: transparent;">
            <img src="NewFolder/QCU_Logo_2019.png" alt="Your Image" style="max-height: 40px; max-width: 40px; margin-left: 120px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  Quezon City University</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li><a href="https://facebook.com/jeffrey.badenhop/">
                        <img src="NewFolder/fblogo.png" alt="Your Image" style="max-height: 40px; max-width: 40px; margin-left: 10px;">
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="caption">
        <p class="name">Jeffrey Querubin Badenhops</p>
        <p class="title">BOSS | BOSS </p>
        <p class="Description">
            Jeffrey Querubin Badenhop 21 years old From SBIT-2G Student in QCU University
           You're Future Boss in IT industry 
        </p>


    </div>
    <div class="caption d-flex ">
        <img src="NewFolder/jeffy.jpg" alt="Your Image" style="max-height: 500px; max-width: 500px; margin-left: 750px; ">
    </div>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="photosSection">
        <div class="container">
            <h2>Photo Gallery</h2>
            <div class="photo-gallery">
                <img src="NewFolder/jeffy1.jpg" alt="Photo 1" class="gallery-item">
                <img src="NewFolder/jeffry2.jpg" alt="Photo 2" class="gallery-item">
                <img src="NewFolder/jeffry3.jpg" alt="Photo 3" class="gallery-item">
                <img src="NewFolder/jeffy4.jpg" alt="Photo 4" class="gallery-item">
                <img src="NewFolder/jeffy6.jpg" alt="Photo 5" class="gallery-item">
               
            </div>
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Badenhop_Activity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
</html>
